html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

body {
  font-size: 1.8rem;
  background-color: cadetblue;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .formulario{
  min-width: 400px;
  max-width: 500px;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid black;
  text-align: center;
}

main .formulario input{
  background-color:  cadetblue;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 1.8rem;
  margin-top: 10px;
  width: 350px;
}

main .formulario button{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

main .formulario #resultadoAhorro {
  border: 1px solid snow;
  min-height: 100px;
  border-radius: 10px;
}

main .formulario #resultadoAhorro ul {
  margin-left: 0px;
  padding-left: 30px;
  padding-right: 20px;
  text-align: justify;
}