html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

body {
  font-size: 1.8rem;
  background-color: cadetblue;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .formulario{
  border: 1px solid blue;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid black;
}

main .formulario input{
  background-color:  cadetblue;
  border: 1px solid black;
  font-size: 1.8rem;
}

main .formulario button{
  margin-top: 10px;
  font-size: 1.6rem;
}