html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: gray;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header {
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
}

main {
  margin: 10px;
  background-color: gray;
  font-size: 1.6rem;
  padding: 0;
}

main section {
  width: 100%;
  background-color: aquamarine;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

main section .taller {
  background-color: red;
  width: 95%;
  height: 200px;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
}

main section .taller a {
  color: black;
  text-decoration: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

main section .taller a figure {
  min-width: 60px;
  margin: 20px;
  display: inline-block;
}

main section .taller a figure img{
  width: 100%;
}

footer {
  position: relative;
  background-color: brown;
  height: 60px;
  bottom: 0;
}