html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: #b5b2b2;
    color: whitesmoke;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #343333;
}

main .main-figuras {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

main .main-figuras .main-figuras__section {
    display: flex;
    flex-direction: column;
    background-color: #343333;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

main .main-figuras .main-figuras__section button {
    width: 100px;
}

main .main-figuras .main-figuras__section figure {
    display: flex;
    align-items: center;
}

main .main-figuras .main-figuras__section figure img{
    width: 50px;
    margin-right: 10px;
}

main .main-figuras .main-figuras__section figure figcaption {
    text-align: center;
    margin-bottom: 10px;
}

main .main-figuras .main-figuras__section .input{
    background-color: #343333;
    margin-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    color: whitesmoke;
    width: 200px;
    border-radius: 10px;
}

main .main-figuras .main-figuras__section p {
    display: inline-block;
    height: 40px;
}
